<h1>Orders</h1>
<table>
  <thead>
    <tr>  
      <th>Order Id</th>
      <th>Total amount</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order|%>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.amount %></td>
        <% if order.paid_status? %>
          <td>Unpaid</td>
        <% else %>
          <td>Paid</td>
        <% end %>
        <td> <%= link_to 'Show Products', order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>  </p>
<%= link_to 'back', root_path %>




